node_modules
Server/db/__pycache__
*.db
Server/alembic/__pycache__
Server/db/__pycache__
Server/app/__pycache__
.next
*.pyc
Server/alembic/__pycache__/env.cpython-310.pyc
*.cpython-310.pyc
Server/app/__pycache__/autogenEndpoints.cpython-310.pyc
Server/app/__pycache__/customScoringEndpoints.cpython-310.pyc
Server/app/__pycache__/scoresheetEndpoints.cpython-310.pyc
Server/app/__pycache__/scoring_logic.cpython-310.pyc
Server/db/__pycache__/models.cpython-310.pyc
Server/alembic/__pycache__/env.cpython-310.pyc
Server/app/__pycache__/autogenEndpoints.cpython-310.pyc
Server/alembic/__pycache__/env.cpython-310.pyc
Server/app/__pycache__/__init__.cpython-310.pyc
Server/alembic/__pycache__/env.cpython-310.pyc
.github/dependabot.yml
