services:
  server:
    build: ./Server

    environment:
      - CONNECTION_STRING=postgresql://postgres:postgres@db:5432/postgres
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    ports:
      - "0.0.0.0:8000:8000"
    restart: always
    volumes:
      - ~/logs:/logs
    command:
      [
        "bash",
        "-c",
        "alembic upgrade head && python -m scripts.seed_scoresheets && gunicorn -w 4 -k uvicorn.workers.UvicornWorker --timeout 3600 main:app -b 0.0.0.0:8000",
      ]

    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./Webapp
    ports:
      - "0.0.0.0:3000:3000"
    depends_on:
      - server
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "81:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - server
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
  db:
    image: postgres:17
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ~/postgres-prod-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    expose:
      - 5432

volumes:
  postgres-prod-data:
